// Use the internal LMIG registry - allows access to internal modules and improves cloud foundry deployments
registry=https://repo.forge.lmig.com/content/repositories/ets-npm
@types:registry=https://registry.npmjs.org/
