.header-button {
  padding: 10px;
  margin-bottom: 5px;
  background: indianred;
  width: 100%;
  display: block;
  @media screen and (min-width: 767px) {
    margin: 0 10px;
    display: inline;
  }
  &:hover {
    background: cornflowerblue;
    cursor: pointer;
  }
  button {
    Box-sizing: Border-box;
    border-radius: 0;
    background: transparent;
    color: #fff;
    border: none;
  }
}