.visitor-info {
  text-align: left;
  display: inline-block;
}

.favorite-row:nth-child(odd) {
  background-color: #cccccc;
}

.favorite-row:nth-child(even) {
  background-color: #eeeeee;
}

.favorite-row {
  display: table-row;
}

.favorite-cell {
  display: table-cell;
  padding: 5px;
}

.border-magic {
  display: inline-table;
  border: black 2px solid;
}